/**Footer**/

nav a{
    
    padding-right: 50px;
    text-decoration: none;
    border-right: 3px solid grey;
        
}


nav ul{
    margin: 15px;
    display: flex;
    justify-content: center;
     
}


nav li{
    list-style-type: none;  
    font-weight: 20px;
    font-size: 16px;  
    padding: 20px;
   
}

nav li:hover a{
    color: darkgreen;
    font-weight: bold;
    transition: .5;
    
}

nav{
     height: 70px;
     border-top: 3px solid gray;
     box-shadow: 15px gray;
     position: static;
     z-index: 1;   
    
}
