*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

input[type="button"]{
    height: 4rem;
    width: 6rem;    
    justify-content:space-between;
    border-radius: 0.5rem;
    font-size: 100%;
    border: none;
    background-color: green;
    color: white;
}

input{
    height: 2.5rem;
    border-radius: 2rem;
    border: 1px solid black;
    text-align: center;
    color: black;
    width: auto;
}
/*----------------------------------------------------------------
@media  and (max-width: 513px) {
    .container
    
}
    \----------------------------------------------------------------