*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

input[type="button"] {
    height: 4rem;
    width: 6rem;    
    justify-content:space-between;
    border-radius: 0.5rem;
    font-size: 100%;
    border: none;
    background-color: green;
    color: white;
    margin: 1rem;
    cursor: pointer;
}

input{
    height: 2.5rem;
    border-radius: 2rem;
    border: 1px solid black;
    text-align: center;
    color: black;
    width: auto;
}

.opt_btn{
    display: flex;
    justify-content: space-evenly;
    margin: 5px auto; 
    padding: 5px;   
}

.loan_select{
    display: flex;
    flex-direction: column;
}

::placeholder{
    text-align: center;
}

.option select{
    height: 3rem;
    width: 8rem;
    border-radius: 3%;
    border: none;
    font-size: 18px;
    font-weight: bold;
}

/*----------------------------------------------------------------
@media  and (max-width: 513px) {
    .container
    
}
    \----------------------------------------------------------------