
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
    padding: 0;
    box-sizing: content-box;


}
select{
    height: 50px;
    width: 120px;
    text-align: center;
    font-weight: bold;
}

.loan_data p{
    margin: 20px;
    padding: 20px;
    
    
}

.loan_data label{
    margin-right: 50px;
    float: left;
    width: 6rem;
}

