@media only screen and (max-width: 501px)
{
    .opt_btn{
    display: flex;
    justify-content: space-evenly;
    margin: 2px auto;
}

.dash_page{
    margin: 5px;
    padding: 5px;
}


.main{
    height: 5rem;
    padding: 10px;
    line-height: 0px;
    margin-bottom: 2rem;
}

.main_ot, 
.gpea-cont{
    line-height: 1%;
    
}

.basic{
    display: flex; 
    flex-direction: column;
    font-size: 12px;  
}

.basic label{
    font-size: 12px;
    font-weight: bold;
    padding: 5px;
}
p label{
    float: left;
    width: 80px;

}

.basic, 
.bs_input1{
    height: 1.5rem;
    width: 2rem;
    border-radius: 10px;
    font-size: 12px;
    font-weight: small;; 
    margin: 0px;
}

.dash_opt{
    height: 4%;  
    display: flex;
}

.dash_opt div{
    margin: 10px;
}
.main_allow{
    width: auto;
}

.toggle{
    height: 12px;
    width: 12px;
    margin: auto 10px;
    

}

.bs_input, .loan, .in_data{
    height: 1rem;
    padding: 2px;
    margin-bottom: 1.5rem;
    margin-right: 15px;
    border-radius: 10px;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
}


h3{
    text-align: center;
    font-size: small;
    font-weight: semi-bold;
    margin: 5px;
}

.loan_sec{
    justify-content: center;
    text-align: center;
    margin-top: 1rem;
    font-weight: bold;
    font-size: large;
    display: none;
}
/* Loan section */
.loan_select label{
    font-size: 20px;
    font-weight:100px;
    margin: 10px;
}

.option select{
    height: 1.5rem;
    width: 4rem;
    border-radius: 20px;
    border: none;
    font-size: 18px;
    font-weight: semi-bold;
}


/*button style*/

button{
    width: 7rem;
    height: 3rem;
    font-size: 15px;
    font-weight: bold;
    border: none;
    border-radius: 0.5rem; 
    margin: 5px;  
  
}

.btn_sub{
    background-color: darkgreen;
    color: white;
    border: 1px solid white;
}

.btn_can{
    border: 1px solid green;
    color: green;
    border: 1px solid green;
}
}
/*
@media only screen and (max-width: 957px)
{
    .opt_btn{
        display: flex;
        justify-content: space-evenly;
        margin: 2px auto;
    }
    
    .dash_page{
        margin: 5px;
        padding: 5px;
    }
    
    
    .main{
        height: 5rem;
        padding: 10px;
        line-height: 0px;
        margin-bottom: 2rem;
    }
    
    .main_ot, 
    .gpea-cont{
        line-height: 1%;
        
    }
    
    .basic{
        display: flex; 
        flex-direction: column;
        font-size: 12px;  
    }
    
    .basic label{
        font-size: 12px;
        font-weight: bold;
        padding: 5px;
    }
    p label{
        float: left;
        width: 80px;
    
    }
    
    .basic, 
    .bs_input1{
        height: 1.5rem;
        width: 2rem;
        border-radius: 10px;
        font-size: 12px;
        font-weight: small;; 
        margin: 0px;
    }
    
    .dash_opt{
        height: 4%;  
        display: flex;
    }
    
    .dash_opt div{
        margin: 10px;
    }
    .main_allow{
        width: auto;
    }
    
    .toggle{
        height: 12px;
        width: 12px;
        margin: auto 10px;
        
    
    }
    
    .bs_input, .loan, .in_data{
        height: 1rem;
        padding: 2px;
        margin-bottom: 1.5rem;
        margin-right: 15px;
        border-radius: 10px;
        font-size: 12px;
        font-weight: bold;
        text-align: center;
    }
    
    
    h3{
        text-align: center;
        font-size: small;
        font-weight: semi-bold;
        margin: 5px;
    }
    
    .loan_sec{
        justify-content: center;
        text-align: center;
        margin-top: 1rem;
        font-weight: bold;
        font-size: large;
        display: none;
    }
        
    /* Loan section */
    .loan_select label{
        font-size: 20px;
        font-weight:100px;
        margin: 10px;
    }
    
    .option select{
        height: 1.5rem;
        width: 4rem;
        border-radius: 20px;
        border: none;
        font-size: 18px;
        font-weight: semi-bold;
    }
    
    
    /*button style*/
    
    button{
        width: 7rem;
        height: 3rem;
        font-size: 15px;
        font-weight: bold;
        border: none;
        border-radius: 0.5rem; 
        margin: 5px;  
    }
    
    .btn_sub{
        background-color: darkgreen;
        color: white;
        border: 1px solid white;
    }
    
    .btn_can{
        border: 1px solid green;
        color: green;
        border: 1px solid green;
    }
}
*/