
.opt_btn{
    display: flex;
    justify-content: space-evenly;
    margin: 5px auto; 
    padding: 5px;   
}

.dash_page{
    margin: 10px;
    padding: 10px;
}

.basic p{
    justify-items: center;
}

.main_ot, 
.gpea-cont,
.loan_data{
    line-height: 0.5rem;
    display: none;  
}



p label{
    float: left;
    width: 70%;
    clear: both;
}

p{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}

.dash_opt{
    height: 60px;  
    display: flex;
    justify-content: center;
}

.main_allow{
    width: auto;
}

.toggle{
    height: 20px;
    width: 20px;
    margin: auto 10px;
}

.bs_input, .loan, .in_data{
    height: 2.5rem;
    padding: 5px;
    margin-bottom: 1.5rem;
    margin-right: 30px;
    border-radius: 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}

::placeholder{
    text-align: center;
}

h3{
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    margin: 0.2rem;
}

/* Loan section */

.loan_sec{
    justify-content: center;
    margin-top: 1rem;
    font-weight: bold;
    font-size: 15px;
    display: none;
}


.loan_select{
    display: flex;
    flex-direction: column;
    display: none;
}

.loan_select label{
    font-size: 20px;
    font-weight:bold;
    text-align: center;
    
}

.option select{
    height: 3rem;
    width: 8rem;
    border-radius: 3%;
    border: none;
    font-size: 18px;
    font-weight: bold;
}

/*button style*/

button{
    width: 10rem;
    height: 5rem;
    font-size: 20px;
    font-weight: bold;
    border: none;
    border-radius: 0.5rem; 
    margin: 10px;  
}

.btn{
    display: flex;
    justify-content: center;
}

.btn_sub{
    background-color: darkgreen;
    color: white;
    border: 1px solid white;
}

.btn_can{
    border: 1px solid green;
    color: green;
}