
.opt_btn{
    display: flex;
    justify-content: space-evenly;
    margin: 5px auto; 
    padding: 5px;   
}

.dash_page{
    margin: 10px;
    padding: 10px;
}


.main{
    height: 10rem;
    padding: 20px;
    line-height: 20px;
    margin-bottom: 2rem;
}

.main_ot, 
.gpea-cont{
    line-height: 0.5rem;  
}

.basic{
    display: flex; 
    flex-direction: column;
}

.basic label{
    font-size: 18px;
    font-weight: bold;
    padding: 10px;
}
p label{
    float: left;
    width: 50vw;
}

.basic .bs_input1{
    height: 3rem;
    width: 10rem;
    border-radius: 40px;
    font-size: 20px;
    font-weight: bold; 
    margin: 7px;
}

.dash_opt{
    height: 60px;  
    display: flex;
}

.dash_opt div{
    margin: 20px;
}
.main_allow{
    width: auto;
}

.toggle{
    height: 20px;
    width: 20px;
    margin: auto 10px;
    

}

.bs_input, .loan, .in_data{
    height: 2.5rem;
    padding: 5px;
    margin-bottom: 1.5rem;
    margin-right: 30px;
    border-radius: 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}

::placeholder{
    text-align: center;
}

h3{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin: 10px;
}

.loan_sec{
    justify-content: center;
    text-align: center;
    margin-top: 1rem;
    font-weight: bolder;
    font-size: larger;
    display: none;
}


/* Loan section */

.loan_select{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.loan_select label{
    font-size: 20px;
    font-weight:100px;
    margin: 10px;
}

.option select{
    height: 3rem;
    width: 8rem;
    border-radius: 40px;
    border: none;
    font-size: 18px;
    font-weight: bold;
}

.loan_data p{
    margin: auto;
    
}

/*button style*/

button{
    width: 15rem;
    height: 5rem;
    font-size: 20px;
    font-weight: bold;
    border: none;
    border-radius: 0.5rem; 
    margin: 10px;  
  
}

.btn_sub{
    background-color: darkgreen;
    color: white;
    border: 2px solid white;
}

.btn_can{
    border: 2px solid green;
    color: green;
}