.container{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow: hidden;
}
h3{
    color: darkgreen;
    letter-spacing: 5px;
    text-align: center;
}

.container #f_logo{
    width: 20vh;
    margin-top: 20px;
}

.button{
    width: 50vh;
    height: 15vh;
    margin: 15px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 15px;
    border: 1px solid white;
    box-shadow: 1px 0px 10px darkgreen;
    margin-bottom: 7px;
    background-color: darkgreen;
    color: darkgoldenrod;

}
.button:hover{
    border: 2px solid darkgoldenrod;
}


.ctor{
    text-align: center;
    margin-top: 0px;
    color: darkgreen;
}

