.title{
    text-align: center;
}

h3{
    margin: 30px auto;
    text-align: center;
}

.basic p,
.gross p{
    margin: 10px auto;
    display: flex;
    justify-content: center;
}

 .main_allow p,
 .main_ot p, .sat p, 
 .loan_data p,
 .loan_select p{
    margin: 10px auto;
    display: flex;
    justify-content: center;
 }

 p label{
    font-size: 20px;
    padding: 10px;
    width: 15rem;
    float: left;
 }


.loan_data, .main_ot, .loan_select{
    display: none;
}

.gross label{
    font-size: 20px;
    padding: 10px;
    width: 15rem;
    font-weight: bold 
}

.net input{
    display: block;    
}
